:root {
    --light-gray: #cecece;
    --light-light-gray: #E5E5E5;
    --ligh-blue: #8ecae6;
    --blue: #219ebc;
    --dark-blue: #023047;
    --dark-yellow: #ffb703;
    --light-yellow: #fde74c;
}

header {
    position: fixed;
    top: 0;
    z-index: 9999;
}

.logo {
    height: 3rem;
    padding: .5rem;
}

.wrap {
    position: absolute;
    background-color: var(--dark-blue);
    width: 100vw;

    
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}