:root {
    --light-gray: #cecece;
    --light-light-gray: #E5E5E5;
    --light-blue: #8ecae6;
    --blue: #219ebc;
    --dark-blue: #023047;
    --dark-yellow: #ffb703;
    --light-yellow: #fde74c;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

*:focus {
    outline: none;
}


html {
    font-size: 93.75%;
}

body {
    background: var(--dark-blue) url("./assets/img/background--.svg") repeat fixed;
    background-size: 75rem;

    margin: 0;
    font-family: 'Montserrat', sans-serif;

    width:100vw;
    height:100vh;
}